
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Upload your record!</title>
  </head>
  <body>
    <h1>Upload new File</h1>
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
      {{ form.uploadfile }}
      {{ form.submit }}
      {% if test_ok %}
          <h3>LA TRADUCTION : </h3>
          <p>{{ content_text }}</p>
      {% else %}
          <p></p>
      {% endif %} 
    </form>
  </body>
</html